.main-category{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.categories{
    position: relative;
}
.detail-cat{
    position: absolute;
    width: 120px;
    background-color: hsl(0, 0%, 96%);
    border: 1px solid hsl(0, 0%, 92%);
    border-radius: 0 10px 10px 10px;
    padding: 3px;
    top: 0;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
}
hr{
    width: 50%;
    margin: 2px 0;
}
img{
    width: 450px;
    border-radius: 3px;
    transition: transform 1s ease;
}
img:hover{
    transform: translateY(-5px);
}
.category-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}